
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #1f1f1f; 
}

h1 {
    color: #ffffff;
}

.header {
    text-align: right;
    padding: 30px;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 15px;
    font-size: 14px;
}
.header a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}

.logo {

    font-size: 40px;
    font-weight: normal;
    margin-bottom: 30px;
}

.search-box {
    width: 600px;
    padding: 12px 20px;
    background-color: #4D5156;
    border-radius: 30px;
    border: 1px solid #4D5156;
    font-size: 16px;
    outline: none;
}
.search-box:hover {
    background-color: #5F6368;
}

.buttons input {
    text-align: center;
    background-color: #303134;
    color: #e8eaed;
    border: 1px solid #303134;
    border-radius: 8px;
    margin: 11px 4px;
    margin-top: 30px;
    padding: 0px 16px;
    height: 36px;
    font-size: 14px;
    cursor: pointer;
    
}

.buttons input:hover {
    border: 1px solid #dadce0;
}
