style2.css


body {
    font-family: Arial, sans-serif;
    background-color: #202124;
    margin: 40px;
}
.field {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    align-items: center;
    margin-bottom: 15px;
}   

.header {
    text-align: right;
    margin-bottom: 30px;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 15px;
    font-size: 14px;
}

.header a:hover{
    text-decoration: underline;
}

h1 {
    color: #F28B82;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}
hr {
    border: 0;
    height: 1px;
    background-color: #3c4043;
    margin: 20px 0;
}


form {
    max-width: 1000px;
    margin-top: 100px;
}


label {
    color: #969ba1;
    font-size: 14px;
}

input[type=text] {
    background-color: #1f1f1f;
    color: #bdc1c6;
    padding: 6px;
    border: 1px solid #5c5f5e;
    border-radius: 4    px;
    font-size: 13px;
}

input[type=text]:focus {
    border-color: #4285f4;
    outline: none;
}

span {
    font-size: 11px;
    color: #555;
    margin-left: 10px;
}

input[type=submit] {
    background-color: #4d90fe;
    column-rule-color: white;
    border: none;
    padding: 8px 16px;
    font-size: 13px;
    border-radius: 2px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #357ae8;
}
.button-row {
    text-align: right;
    margin-top: 20px;
}

.button-row input {
    background-color: #8ab4f8;
    color: #202124;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.button-row input:hover {
    background-color: #aecbfa;
}